@using Microsoft.AspNetCore.Identity
@model IEnumerable<Booking>;
@{
    Layout = null;
    int c = 0;
    string special = "@gmail.com", special1 = "@outlook.com", special2 = "@mandela.ac.za", special3 = "@nompilo.co.za";
    string name = User.Identity?.Name.ToString();
    if (name.ToLowerInvariant().Contains(special))
    {
        name = name.Replace(special, " ");
    }
    else if (name.ToLowerInvariant().Contains(special1))
    {
        name = name.Replace(special1, " ");
    }
    else if (name.ToLowerInvariant().Contains(special2))
    {
        name = name.Replace(special2, " ");
    }
    else if (name.ToLowerInvariant().Contains(special3))
    {
        name = name.Replace(special3, " ");
    }
    foreach (var books in Model)
    {
        if (Model.Count() > 0)
        {
            foreach (var book in Model)
            {
    
                string service = books.services;
                string names = User.Identity?.Name.ToString();
                DateTime date = books.datetimes;
                if (names == books.email && service =="Pre-NatalCare")
                {
                    c=c+1;
                }
                break;

            }


        }

    }
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />

    @* <link rel="stylesheet" href="~/css/dashboardstyle.css" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        /* import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");*/

        * {
            margin: 0;
            padding: 0;
            outline: none;
            border: none;
            text-decoration: none;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }

        /*body {
                            background: #dfe9f5;
                        }
                        */
        .container {
            display: flex;
        }

        nav {
            position: relative;
            top: 0px;
            bottom: 0;
            height: 100vh;
            left: 0;
            background-color: #029EFF;
            /* background: #fff;*/
            width: 280px;
            overflow: hidden;
            box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
        }

        .logo {
            text-align: center;
            display: flex;
            margin: 10px 0 0 10px;
        }

            .logo img {
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }

            .logo span {
                font-weight: bold;
                padding-left: 15px;
                font-size: 18px;
                text-transform: uppercase;
            }

        a {
            position: relative;
            color: black;
            font-size: 14px;
            display: table;
            width: 280px;
            padding: 10px;
        }

        nav .fas {
            position: relative;
            width: 70px;
            height: 40px;
            top: 14px;
            font-size: 20px;
            text-align: center;
        }

        nav .fa {
            position: relative;
            width: 70px;
            height: 40px;
            top: 14px;
            font-size: 20px;
            text-align: center;
        }

        .nav-item {
            position: relative;
            top: 12px;
            margin-left: 10px;
        }

        a:hover {
            background: #eee;
        }

        .logout {
            position: absolute;
            bottom: 0;
        }

        section {
            width: 80%;
        }

        #back {
            border: double;
            border-radius: 7px;
            font-size: 15px;
            padding: 10px;
            background-color: lightcoral;
            cursor: pointer;
            bottom: 0;
        }
        #appointmen{
            margin:auto;
/*             border:solid; */
            width:50%;
            background-color:lightblue;
            border-radius: 7px;
            padding:10px;
        }

        #prenatalheading{
            font-weight:bold;
            font-size: 40px;
            font-family:'Times New Roman', Times, serif;
            text-decoration-line:underline;
        }
        #journey{
            float:right;
            border-radius: 7px;
            padding: 10px;

        }
        #date{
            border-radius: 7px;
            padding: 10px;
            background-image: url('duedate.jpg');
        }
        #links{
            background-color: lightblue;
            color:black;
            font-weight:bold;
            border-radius: 7px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="#" class="logo">
                        <img src="~/css/person.jpg" alt="">
                        <span class="nav-item">@name</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Prenatal" asp-action="Dashboard">
                        <i class="fas fa-home"></i>
                        <span class="nav-item">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Prenatal" asp-action="Calculator">
                        <i class="fas fa-calendar-week"></i>
                        <span class="nav-item">Due-Date Calculator</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Prenatal" asp-action="Support">
                        <i class="fas fa-user-friends"></i>
                        <span class="nav-item">Journey Support</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="docTests" asp-action="PatientTestList">
                        <i class="fas fa-flask"></i> <!-- You can change the icon as needed -->
                        <span class="nav-item">Lab Test</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Checkup" asp-action="Checkup">
                        <i class="fas fa-stethoscope"></i> <!-- You can change the icon as needed -->
                        <span class="nav-item">Checkup</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Booking" asp-action="ViewBookings">
                        <i class="fas fa-calendar"></i> <!-- You can change the icon as needed -->
                        <span class="nav-item">Bookings</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="Home" asp-action="Home" class="logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="nav-item">Back</span>
                    </a>
                </li>
            </ul>
        </nav>
        <section class="main">
            <div style="text-align:center">
                <h1 id="prenatalheading">Welcome to Prenatal Care</h1>
                <hr />
                <br />
            </div>

            <!-- First Row -->
            <div class="row" style="flex: 1; display: flex; background-color: #dcdcdc;">

                <div class="left-div" style="flex: 2; display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: #f0f0f0;">
                    <!-- First Row of Cards -->
                    <!-- First Row of Cards -->
                    <div class="row" style="margin: 10px;display: flex; justify-content: center;">
                        <div class="col-md-6 d-flex align-items-center justify-content-center">
                            <div class="card text-center text-dark">
                                <div class="card-body" style="background-color: #dcdcdc;">
                                    <div class="d-flex flex-column align-items-center justify-content-center">
                                        <i class="fas fa-heartbeat fa-5x"></i>
                                        <h5 class="card-title">Lab Test</h5>
                                        <a asp-controller="docTests" asp-action="PatientTestList" class="btn btn-primary">View Lab Test</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex align-items-center justify-content-center">
                            <div class="card text-center text-dark">
                                <div class="card-body" style="background-color: #dcdcdc;">
                                    <div class="d-flex flex-column align-items-center justify-content-center">
                                        <i class="fas fa-file-contract fa-5x"></i>
                                        <h5 class="card-title">Check-Up</h5>
                                        <a asp-controller="Checkup" asp-action="Checkup" class="btn btn-primary">View Check-Up</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Second Row of Cards -->
                    <div class="row" style="margin: 10px; display: flex; justify-content: center;">
                        <div class="col-md-6 d-flex align-items-center justify-content-center">
                            <div class="card text-center text-dark">
                                <div class="card-body" style="background-color: #dcdcdc;">
                                    <i class="fas fa-calendar-check fa-5x"></i>
                                    <h5 class="card-title">Upcoming Visits</h5>
                                    <a href="#" class="btn btn-primary">View All Upcoming Visits</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex align-items-center justify-content-center">
                            <div class="card text-center text-dark">
                                <div class="card-body" style="background-color: #dcdcdc;">
                                    <i class="fas fa-file-alt fa-5x"></i>
                                    <h5 class="card-title">View Booking</h5>
                                    <a asp-controller="Booking" asp-action="ViewBookings" class="btn btn-primary">View All Booking</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="right-div" style="flex: 1; display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: #f0f0f0;">
                    <div class="square-div">
                        <!-- Nurse Information -->
                        <div class="text-center">
                            <h3>My Nurse</h3>
                            <h1>Name of Nurse</h5>
                        </div>

                        <!-- Nurse Image -->
                        <div class="text-center">
                            <img src="nurse-image.jpg" alt="Nurse" width="100" height="100">
                        </div>

                        <!-- Contact Information -->
                        <div class="text-center mt-3">
                            <a href="https://wa.me/1234567890" target="_blank">
                                <i class="fab fa-whatsapp fa-2x"></i>
                                <p>081 892 5277</p>
                            </a>
                        </div>

                        <div class="text-center mt-3">
                            <a href="mailto:nurse@example.com">
                                <i class="far fa-envelope fa-2x"></i>
                                <p>nurse@example.com</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- First Row -->
            <div class="row" style="flex: 1; display: flex; background-color: #dcdcdc;">

                <div class="left-div" style="flex: 2; display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: #f0f0f0;">
                    <!-- First Row of Cards -->
                    <div class="row" style="margin: 10px;">
                        <div class="col-md-6">
                            <div class="card text-center text-dark">
                                <div class="card-body" style="background-color: #fff;">
                                    <i class="fas fa-heartbeat fa-5x"></i>
                                    <h5 class="card-title">Lab Test</h5>
                                    <a asp-controller="docTests" asp-action="PatientTestList" class="btn btn-primary">View Lab Test</a>
                                </div>
                            </div>
                        </div>
                       
                    </div>

                </div>

                <div class="right-div" style="flex: 1; display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: #f0f0f0;">
                    <div class="square-div">
                        <!-- Nurse Information -->
                        <div class="text-center">
                            <h3>My Appointments</h3>
                            <h1>Next Appointment</h5>
                        </div>

                       
                        <!-- Contact Information -->
                        <div class="text-center mt-3">
                            <a href="https://wa.me/1234567890" target="_blank">
                               <p></p>
                            </a>
                        </div>

                        <div class="text-center mt-3">
                            <a href="mailto:nurse@example.com">
                                <p>nurse@example.com</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>

