@model IEnumerable<Nompilo_PHC_Website.Models.TestResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LabLayout.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">

<h2 class="bg bg-info text-center"><i class="fa fa-file-text" aria-hidden="true" style="font-size:48px;color:forestgreen"></i>Test Results List</h2>
<p>
    <a asp-action="Insert" class="btn btn-sm btn-primary">Add New Results</a><br />
    <form method="post">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <input type="text" name="search" id="searchInput" placeholder="Enter Keyword" class="inputComn form-control" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <div class="searchIcon">
                        <button type="submit" class="searchBtn btn btn-success">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</p>
@if (TempData["successAlert"] != null)
{
        <p class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success:</strong> @TempData["successAlert"]
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </p>
}


@if (!Model.Any())
{
    <div class="alert alert-info" role="alert">
        You currently do not have any test records
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Lab Scientist
                </th>
                <th>
                    Patient
                </th>
                <th>
                    Test For
                </th>
                <th>
                    Test Method
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Result)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tests.PatientName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tests.testfor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TestMethods.MethodName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Result)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>

                    <td>

                        <a asp-action="Update" asp-route-id="@item.resultsId" class="btn btn-sm btn-info"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.resultsId" class="btn btn-sm btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>Delete</a>


                    </td>

                </tr>
            }



        </tbody>



    </table>
}
<a asp-controller="Results" asp-action="GenerateReport" class="btn btn-primary">Print Report</a>

<script>
    $(document).ready(function () {
        $("#searchInput").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Search/Autocomplete",
                    type: "GET",
                    data: { term: request.term },
                    success: function (data) {
                        response(data);
                    }
                });
            }
        });
    });
</script>
