@using Microsoft.AspNetCore.Identity

@{
    string special = "@gmail.com", special1 = "@outlook.com", special2 = "@mandela.ac.za", special3 = "@nompilo.co.za";
    string name = "";
    //name = User.Identity?.Name.ToString();
    if (name.ToLowerInvariant().Contains(special))
    {
        name = name.Replace(special, " ");
    }
    else if (name.ToLowerInvariant().Contains(special1))
    {
        name = name.Replace(special1, " ");
    }
    else if (name.ToLowerInvariant().Contains(special2))
    {
        name = name.Replace(special2, " ");
    }
    else if (name.ToLowerInvariant().Contains(special3))
    {
        name = name.Replace(special3, " ");
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    
    <link rel="stylesheet" href="~/css/Layoutstylesheet.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="sibar-container">
        <nav>
            <ul>
                <li>
                    <a href="#" class="logo" style="color:black" style="color:black">
                        <img src="~/css/person.jpg" alt="">
                        <span class="nav-item">@name</span>
                    </a>
                </li>
                <li>
                    <a class="item" asp-controller="Lab" asp-action="ScienceDash" style="color:black">
                        <i class="fas fa-home" style="color:black"></i>
                        <span class="nav-item">Home</span>
                    </a>
                </li>
                <li>
                    <a class="item" asp-controller="Instrument" asp-action="AddOrEdit" style="color:black">
                        <i class="fas fa-vial" style="color:black"></i>
                        <span class="nav-item">Test Instruments</span>
                    </a>
                </li>
                <li>
                    <a class="item" asp-controller="Method" asp-action="Insert" style="color:black">
                        <i class="fas fa-notes-medical" style="color:black"></i>
                        <span class="nav-item">Test Methods</span>
                    </a>
                </li>
                <li>
                    <a class="item" asp-controller="Results" asp-action="Insert" style="color:black">
                        <i class="fas fa-chart-bar" style="color:black"></i>
                        <span class="nav-item">Results</span>
                    </a>
                </li>
                <li>
                    <a class="item" asp-controller="Results" asp-action="Report" style="color:black">
                        <i class="fa fa-file-text fas" style="color:black"></i>
                        <span class="nav-item">Report</span>
                    </a>
                </li>
                
                

                <li>
                    <a style="color:black" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="logout">
                        <i class="fas fa-sign-out-alt" style="color:black"></i>
                        <span class="nav-item">Log out</span>
                    </a>
                </li>
            </ul>
        </nav>
        <section class="main">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </section>>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" ></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
