@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "FamilyLayout";
}
@model Nompilo_PHC_Website.ViewModels.UserViewModel

<br />
<br />
<form class="form-control border-primary" class="row g-3" asp-action="AddUser" style="background-color:whitesmoke">
    
    <legend class="bg bg-primary text-center rounded-pill"><h2><strong>Register Employee</strong></h2></legend><br /><br />
    <input type="hidden" asp-for="@Model.Id" />
    <div class="col-md-6">
        <label asp-for="@Model.Name" class="form-label"></label>
        <input asp-for="@Model.Name" class="form-control" autocomplete="off" area-required="true">
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div><br />
    <div class="col-md-6">
        <label asp-for="@Model.Surname" class="form-label"></label>
        <input asp-for="@Model.Surname" class="form-control" autocomplete="off" area-required="true">
        <span asp-validation-for="@Model.Surname" class="text-danger"></span>
    </div><br />

    <div class="col-md-6">
        <label asp-for="@Model.Email" class="form-label"></label>
        <input asp-for="@Model.Email" type="email" class="form-control" autocomplete="off" area-required="true">
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div><br />

    @for (var i = 0; i < Model.Roles.Count; i++)
    {
        <div class="col-md-12">
            @Html.CheckBoxFor(s=> Model.Roles[i].Selected )
            @Html.HiddenFor(s=> Model.Roles[i].Value)
            @Html.LabelFor(s=> Model.Roles[i].Selected, Model.Roles[i].Text, new {@class="form-check-label" })
            @Html.HiddenFor(s=> Model.Roles[i].Text)
        </div>
    }
    <span class="text-danger">@ViewBag.Message</span>
    <div class="col-12">
    
        <button type="submit" class="btn btn-primary">Register Employee</button>
    
        <a  asp-area="" asp-controller="Dashboard" asp-action="Admin"class="btn btn-primary">Back</a>
    
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }